.register_entry_class { 
    font-family: "Lcd2"; /* from http://legionfonts.com/fonts/lcd2-normal */
    font-size: 25px;
    /* padding: 10px 10px 10px 10px; */
    background-color: lightgrey;
}

.register_x_entry_class { 
    background-color: lightblue;

}

.button_class {
    font-family: "Free Sans"; /* gnu-free-sans-fonts-20120503-24.fc34.noarch */
    font-size: 15px;
    font-weight: 800;
    padding: 3px 0px 3px;
}

.custom_class {
    color: black;
}
